* {
    color: white;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    scrollbar-width: none;
}










header {
    background-color: rgba(0, 20, 40, 0);
    height: 8vh;
    position: fixed;
    width: 100%;
}



#menu {
    font-size: 1vw;
    list-style-type: none;
    overflow: hidden;
    font-weight: 500;
    transition: linear 100ms;
    display: flex;
    align-items: center;
}

#menu.scrolled {
    background-color: black;
    transition: ease-in-out 200ms;
}



#menu li {
    height: 8vh;
    padding: 0 4vw;
    display: flex;
    align-items: center;
    cursor: pointer;
}



#menu .rightli {
    margin-left: auto;
    margin-right: 0;
}



#menu .biggerli {
    padding: 0 8vw;
}



#menu li a {
    border: none;
    text-align: center;
}



#menu .biggerli a {
    text-decoration: none;
    font-size: 1.5vw;
}





#licv {
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}



#licv a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: ease-in-out 200ms;
}

#licv a:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -1vw;
    transition: ease-in-out 200ms;
}



#licv:hover a {
    padding-right: 1vw;
}

#licv:hover a:after {
    opacity: 1;
    right: 0;
}










section {
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 90vh;
}





#welcome {
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
    font-size: 2em;
    background-size: 200% 200%;
}



#welcome-textbox {
    padding-left: 5vw;
}



#welcome-textbox h1 {
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid white;
    font-weight: bold;
}

#welcome-textbox h2 {
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid white;
    font-weight: 100;
}



#typing-text-1 {
    width: 0;
    animation: typing-1 0.8s steps(20) 1s forwards, blink 0.75s step-end infinite;
}
@keyframes typing-1 {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

#typing-text-2 {
    width: 0;
    animation: typing-2 0.32s steps(8) 1.8s forwards, blink 0.75s step-end infinite;
}
@keyframes typing-2 {
    from {
        width: 0;
    }
    to {
        width: 40%;
    }
}

#typing-text-3 {
    width: 0;
    animation: typing-3 0.8s steps(20) 2.12s forwards, blink 0.75s step-end infinite;
}
@keyframes typing-3 {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
    100% {
        border-color: transparent;
    }
}

.no-blink {
    border-right: none !important;
}